{{ partial "header.html" . }}
    <main>
        <article>
            <h2>{{ .Title }}</h2>
            <time>{{ .Date.Format "02.01.2006" }}</time>
            <div>
                {{ .Content }}
            </div>
            <div class="report" itemscope itemtype="http://schema.org/Person">
                <h3>Health</h3>
                <dl>
                    <dt>Age (days)</dt>
                        <dd><span>{{ .Params.health.age }}</span></dd>
                    <dt><a href="/chart/chart/#weight">Weight</a> (kg)</dt>
                        <dd itemtype="http://schema.org/weight"><span>{{ .Params.health.weight }}</span></dd>
                    <dt>Height (cm)</dt>
                        <dd itemtype="http://schema.org/height"><span>{{ .Params.health.height }}</span></dd>
                </dl>

                <h3>Nutrition</h3>
                <dl>
                    <dt><a href="/chart/chart/#calories">Calories</a> (cal)</dt>
                        <dd itemtype="http://schema.org/calories"><span>{{ .Params.nutrition.calories }}</span></dd>
                    <dt><a href="/chart/chart/#fat">Fat</a> (g)</dt>
                        <dd itemtype="http://schema.org/fatContent"><span>{{ .Params.nutrition.fat }}</span></dd>
                    <dt><a href="/chart/chart/#carbohydrates">Carbohydrates</a> (g)</dt>
                        <dd itemtype="http://schema.org/carbohydrateContent"><span>{{ .Params.nutrition.carbohydrates }}</span></dd>
                    <dt><a href="/chart/chart/#protein">Protein</a> (g)</dt>
                        <dd itemtype="http://schema.org/proteinContent"><span>{{ .Params.nutrition.protein }}</span></dd>
                </dl>

                <h3>Excercise</h3>
                <dl>
                    <dt><a href="/chart/chart/#pushups">Push-ups</a> (count)</dt>
                        <dd><span>{{ .Params.exercise.pushups }}</span></dd>
                    <dt><a href="/chart/chart/#crunches">Crunches</a> (count)</dt>
                        <dd><span>{{ .Params.exercise.crunches }}</span></dd>
                    <dt><a href="/chart/chart/#steps">Steps</a> (count)</dt>
                        <dd><span>{{ .Params.exercise.steps }}</span></dd>
                </dl>

                <h3>Media</h3>
                {{ if .Params.media.books }}
                <h4>Books</h4>
                    {{ range $book := .Params.media.books }}
                        <div class="book" itemscope="" itemtype="http://schema.org/Book">
                            <img itemtype="thumbnailUrl" src="{{ $book.image }}" />
                            <div class="details">
                                <div class="book-title"><a href="{{ $book.link }}" rel="nofollow" itemprop="name">{{ $book.title }}</a></div>
                                <p>by {{ $book.author }}</p>
                                <p>rated: {{ $book.user_rating }}/5</p>
                            </div>
                        </div>
                    {{ end }}
                {{ end }}
            </div>
            <div>
                <ul id="tags">
                    {{ range .Params.tags }}
                    <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
                    {{ end }}
                </ul>
            </div>

            {{ range where .Site.Pages.ByDate "Params.series" .Params.series }}
                {{ if gt $.Date.Unix .Date.Unix }}
                  {{ $.Scratch.Set "previous" .Permalink }}
                {{ end }}
            {{ end }}
            {{ range where .Site.Pages.ByDate.Reverse "Params.series" .Params.series }}
                {{ if lt $.Date.Unix .Date.Unix }}
                  {{ $.Scratch.Set "next" .Permalink }}
                {{ end }}
            {{ end }}

            <ul class="prev-next">
                <li><a href="{{ if $.Scratch.Get "previous" }}{{ $.Scratch.Get "previous" }} {{ end }}" class="{{ if not ($.Scratch.Get "previous") }}disabled {{ end }}button big previous">&larr; previous</a></li>
                <li><a href="{{ if $.Scratch.Get "next" }}{{ $.Scratch.Get "next" }} {{ end }}" class="{{ if not ($.Scratch.Get "next") }}disabled {{ end }}button big next">next &rarr;</a></li>
            </ul>

            <div>
                {{ template "_internal/disqus.html" . }}
            </div>
        </article>
    </main>
{{ partial "footer.html" . }}